.Form-princ{
    display: grid;
    border: 2px solid red;
    padding: 20px;    
    
}
main{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
h1{
    /* justify-content: center; */
    justify-self: center;
}
label{
    padding: 5px;
}
input{
    display: flex;
    
}